numpy==1.19.5
opencv-python==4.5.1.48
requests==2.24.0
argcomplete==1.12.1
pyyaml==5.3.1
depthai==1.0.0.0
# dev
mypy==0.910

# --extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
# depthai==1.0.0.0+719e825e580e2be386b756950e3cc55a4dadcaba
